
<div id="offcanvas-usage" uk-offcanvas>
    <div class="uk-offcanvas-bar">

        <button class="uk-offcanvas-close" type="button" uk-close></button>

        <a href="#">
            <img src="img/CRM.svg" alt="image">
        </a>

        <hr>

        <ul class="uk-nav uk-nav-default">
            <li class="uk-active"><a href="#">ГЛАВНАЯ</a></li>
            <li><a href="#">ЗАДАЧИ</a></li>
            <li><a href="#">ИСТОРИЯ</a></li>
            <li><a href="#">БАЗА ДАННЫХ</a></li>
        </ul>

    </div>
</div>

</div>
</div>
</div>

<script src="js/main.js"></script>
</body>
</html>