@import "../libs/uikit.min.css"
@import "_mixins.sass"
@import "../libs/material-design-iconic-font.css"
@import "../libs/datepicker.css"

@include font(MaterializeIcons, Material-Design-Iconic-Font)
@include font(ProximaRegular, ProximaNovaRegular)
@include font(BebasRegular, BebasRegular)
@include font(ProximaLightItalic, ProximaNova-LightIt)

$red: #DE202D
$dark: #1F1F1F

html
  font-family: 'ProximaRegular', sans-serif
  font-size: 14px
  color: $dark

.root
  background: linear-gradient(to bottom right, #FDFBFB, #EBEDEE)

header
  padding-top: 15px
  img
    width: 78px

.home-page
  padding: 50px 0 120px 0
  .uk-container
    background: url('../img/bg-img.png') 108% center no-repeat
    min-height: 810px
    .f-block
      padding-top: 130px
    h1
      margin-bottom: 40px
    p
      font-family: 'ProximaLightItalic', sans-serif
      color: $dark
      margin-top: 0
      margin-bottom: 60px

h1
  font-family: 'BebasRegular', sans-serif
  font-size: 50px
  color: $dark

.btn
  line-height: 56px
  width: 280px
  padding: 0
  border: 2px solid $red
  color: $red
  box-sizing: border-box
  -webkit-border-radius: 5px
  -moz-border-radius: 5px
  border-radius: 5px

.blur
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  filter: blur(20px)

.uk-modal
  z-index: 1000
.uk-modal
  background-color: transparent
  .uk-modal-dialog
    width: 400px
    padding: 0
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.17)
    form
      padding: 40px
      .uk-legend
        text-align: center
        font-size: 18px
        margin-bottom: 20px
      .uk-input
        background-color: #FAFAFA
        &:hover,
        &:focus
          background-color: #fff
      .btn
        width: 100%
        line-height: 46px
        border-width: 1px
        margin-top: 60px


//-------------------------MAIN-PAGE------------------------

.main-page
  height: 100vh
  background: linear-gradient(to bottom, #FDFBFB, #EBEDEE)
  .uk-container
    position: relative
    .menu
      position: absolute
      top: 26px
      left: -10px
      color: $red
    .uk-offcanvas-content
      padding-top: 30px

.filter-form
  .search-input
    position: relative
    display: block
    .uk-input
      height: 50px
      padding: 0 90px 0 40px
      border-color: #EAEAEA
      @include transition
      &:hover,
      &:focus
        border-color: $red
    .uk-button
      position: absolute
      top: 1px
      right: 1px
      color: $red
      height: 48px
      border: 0
      font-size: 30px
      display: flex
      justify-content: center
      align-items: center
      @include transition
      &:hover
        background-color: #EAEAEA
  .btn
    line-height: 48px
    border-width: 1px

.data-table
  background-color: #fff
  margin-top: 40px
  .uk-table
    margin: 0
    font-size: 16px
    th
      padding: 0
    .uk-link-reset
      color: $red!important
      padding-left: 30px
    .last-cell
      padding-right: 45px
      position: relative
  .uk-table-hover
    tr:hover
      background-color: #F2F2F2

.main-table
  height: 78vh
  .uk-table
    .last-cell
      i
        color: $red
        position: absolute
        top: 20px
        right: 30px
        cursor: pointer
      .uk-nav
        & > li > a
          color: $dark
          font-size: 14px
          &:hover
            color: #666


.data-list
  display: flex
  justify-content: flex-start
  align-items: flex-start
  flex-wrap: wrap
  background-color: #fff
  li
    padding: 16px 12px
    font-size: 16px
    text-transform: uppercase
    &:first-child
      padding-left: 30px
    &.last-item
      padding-right: 30px
    &:last-child
      padding: 0 30px
      hr
        border-top: 1px solid #EAEAEA
  & > li:nth-child(n+2)
    margin-top: 0


#modal-box
  background-color: rgba(255, 255, 255, 0.95)
.uk-tooltip
  background-color: rgba(255, 255, 255, 0.5)
  padding-right: 20px
  padding-left: 20px
  color: $dark
  font-size: 11px
  border-top-right-radius: 7px
  border-bottom-right-radius: 7px
  border-bottom-left-radius: 7px
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.16)

.uk-offcanvas-bar
  background-color: #fff
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.07)
  padding: 40px 30px
  width: 300px
  box-sizing: border-box
  .uk-offcanvas-close
    color: #999
    &:hover
      color: #888
  & > a
    display: inline-block
    img
      width: 58px
  & > hr
    border-top-color: #EAEAEA
  .uk-nav
    margin-top: 40px
    li
      margin-bottom: 30px
      a
        color: $dark
        padding-left: 40px
        -webkit-background-size: 23px auto
        &:hover
          color: $red
      &.uk-active > a
        color: $red
    li:first-child a
      background: url('../img/menu-icon1.svg') 0 center no-repeat
      background-size: 23px auto
    li:nth-child(2) a
      background: url('../img/menu-icon2.svg') 0 center no-repeat
      background-size: 23px auto
    li:nth-child(3) a
      background: url('../img/menu-icon3.svg') 0 center no-repeat
      background-size: 23px auto
    li:last-child a
      background: url('../img/menu-icon4.svg') 0 center no-repeat
      background-size: 23px auto



//-------------------------TASKS------------------------

.tasks-container
  .datepicker
    background: #fff url('../img/calendar-icon.svg') 30px center no-repeat
    -webkit-background-size: 18px auto
    background-size: 18px auto
    border-color: #EAEAEA
    height: 50px
    padding-left: 50px
    @include transition
    &:hover,
    &:focus
      border-color: $red
  .tasks-table
    height: 35vh
    .uk-table
      .last-cell
        span
          display: inline-block
          padding-right: 20px
        label
          position: absolute
          top: 20px
          right: 30px
        .uk-checkbox:checked
          background-color: #54C646
        .uk-checkbox:focus
          border-color: #54C646
  .data-list
    li
      .today
        width: 130px
        line-height: 30px
        -webkit-border-radius: 5px
        -moz-border-radius: 5px
        border-radius: 5px
        background-color: $red
        font-size: 14px
        color: #fff
        text-transform: none
        text-align: center
        margin-top: -5px
      &.last-item
        padding-right: 30px
        p
          display: flex
          justify-content: space-between
          align-items: flex-start

.task-modal,
.deal-modal,
.data-modal
  .uk-modal-dialog form
    .uk-margin
      position: relative
      font-family: 'MaterializeIcons', sans-serif
      font-size: 15px
      color: #AFAFAF
    .calendar::before,
    .deal::before,
    .manager::before
      position: absolute
      top: 50%
      left: 15px
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      transform: translateY(-50%)
    .calendar::before
      content: '\f332'
    .deal::before
      content: '\f208'
    .manager::before
      content: '\f207'
    .caret-down::after
      content: '\f2f2'
      position: absolute
      top: 50%
      right: 20px
      -webkit-transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      transform: translateY(-50%)
    .uk-input,
    .uk-select,
    .uk-textarea
      background-color: #FAFAFA
      font-family: 'ProximaRegular', sans-serif
      font-size: 14px
      color: #AFAFAF
      padding-left: 40px
      padding-right: 30px
      &:hover,
      &:focus
        border-color: $red
        background-color: #fff
    .uk-select
      background-image: none

.task-modal
  .uk-modal-dialog form .btn
    margin-top: 0
    background-color: $red
    color: #fff
.deal-modal
  .uk-modal-dialog form
    .uk-input,
    .uk-select,
    .uk-textarea
      padding-left: 20px
    .calendar > .uk-input
      padding-left: 40px
.data-modal
  .uk-modal-dialog form
    .uk-input,
    .uk-select,
    .uk-textarea
      padding-left: 20px
    .manager > .uk-select
      padding-left: 40px


.datepicker-panel>ul[data-view="days"]>li
  @include transition
  -webkit-border-radius: 50%
  -moz-border-radius: 50%
  border-radius: 50%
  &.picked
    color: $red
  &.highlighted
    background-color: $red
    color: #fff
  &:hover
    background-color: $red
    color: #fff

.datepicker-top-left::before,
.datepicker-top-right::before
  border-bottom-color: $red

.datepicker-top-left
  border-top-color: $red


//-------------------------HISTORY------------------------

.history-container,
.data-container
  .history-table,
  .data-table
    height: 78vh
    .last-cell
      a
        display: block
        position: absolute
        top: 20px
        right: 30px
        color: #AFAFAF
        &:hover
          color: $red


//-------------------------DATABASE------------------------

































//-------------------------MAIN-PAGE------------------------