//= var/header.html

<div class="data-container">
    <form action="#" class="filter-form">
        <fieldset class="uk-fieldset">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@l">
                    <label for="search-text" class="search-input">
                        <input type="text" id="search-text" class="uk-input" placeholder="Поиск">
                        <button class="uk-button uk-button-default">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </label>
                </div>

                <div class="uk-width-1-4@l">
                    <input class="uk-input datepicker" type="text" placeholder="Фильтровать">
                </div>

                <div class="uk-width-1-4@l">
                    <button class="uk-button uk-button-default btn" uk-toggle="target: #modal-box">НОВЫЙ КОНТАКТ &nbsp+</button>
                </div>
            </div>

        </fieldset>
    </form>

    <div class="data-table history-table uk-overflow-auto">
        <ul class="uk-list data-list" uk-sticky="bottom: #offset; offset: 120">
            <li class="uk-width-1-6">КОМПАНИЯ</li>
            <li class="uk-width-1-6">КОНТАКТНОЕ ЛИЦО</li>
            <li class="uk-width-1-6">E-MAIL</li>
            <li class="uk-width-1-6">ТЕЛЕФОН</li>
            <li class="uk-width-1-6">АДРЕС</li>
            <li class="uk-width-1-6 last-item">МЕНЕДЖЕР</li>
            <li class="uk-width-1-1">
                <hr>
            </li>
        </ul>
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-width-1-6"></th>
                <th class="uk-width-1-6"></th>
                <th class="uk-width-1-6"></th>
                <th class="uk-width-1-6"></th>
                <th class="uk-width-1-6"></th>
                <th class="uk-width-1-6"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#modal-box" uk-toggle><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Sunrise</a>
                </td>
                <td>Алыбек Айдарбек</td>
                <td>mihailp_popov@gmail.com</td>
                <td>+996 550 055 577</td>
                <td>Калык Акиева/Токтогула, ТЦ Вевсна, каб 37</td>
                <td class="last-cell">Аймончок
                    <a href="#"><i class="zmdi zmdi-edit"></i></a>
                </td>
            </tr>

            </tbody>
        </table>
        <div id="offset"></div>
    </div>

</div>

<div id="modal-box" class="uk-flex-top data-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default close-btn" type="button" uk-close></button>

        <form>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">НОВЫЙ КОНТАКТ</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Компания">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Контактное лицо">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="E-mail">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="Телефон">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="Адрес">
                </div>

                <div class="uk-margin caret-down">
                    <select class="uk-select">
                        <option disabled selected>Потенциальный клиент</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <div class="uk-margin caret-down manager">
                    <select class="uk-select">
                        <option disabled selected>Выберите менеджера</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <button class="uk-button uk-button-default btn">СОХРАНИТЬ</button>

            </fieldset>
        </form>

    </div>
</div>

//= var/footer.html