//= var/header.html

<form action="#" class="filter-form">
    <fieldset class="uk-fieldset">
        <div class="uk-grid-small" uk-grid>
            <div class="uk-width-1-2@l">
                <label for="search-text" class="search-input">
                    <input type="text" id="search-text" class="uk-input" placeholder="Поиск">
                    <button class="uk-button uk-button-default">
                        <i class="zmdi zmdi-search"></i>
                    </button>
                </label>
            </div>

            <div class="uk-width-1-4@l">
                <div class="filter">
                    <span>Фильтровать</span>

                    <ul class="main-categories">
                        <li>
                            <label class="main-category">
                                <input class="uk-checkbox" type="checkbox">
                                по предлагаемым услугам
                            </label>
                            <ul class="sub-categories">
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <label class="main-category">
                                <input class="uk-checkbox" type="checkbox">
                                по предлагаемым услугам
                            </label>
                            <ul class="sub-categories">
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>

                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                                <li>
                                    <label class="sub-category">
                                        <input class="uk-checkbox" type="checkbox">
                                        продвижение
                                    </label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="uk-width-1-4@l">
                <button class="uk-button uk-button-default btn" uk-toggle="target: #modal-box">ДОБАВИТЬ КОНТАКТ &nbsp+</button>
            </div>
        </div>

    </fieldset>
</form>


<div class="data-table main-table uk-overflow-auto">
    <ul class="uk-list data-list" uk-sticky="bottom: #offset; offset: 120">
        <li class="uk-width-1-5">КОМПАНИЯ</li>
        <li class="uk-width-1-5">КОНТАКТНОЕ ЛИЦО</li>
        <li class="uk-width-1-5">E-MAIL</li>
        <li class="uk-width-1-5">ТЕЛЕФОН</li>
        <li class="uk-width-1-5 last-item">МЕНЕДЖЕР</li>
        <li class="uk-width-1-1">
            <hr>
        </li>
    </ul>
    <table class="uk-table uk-table-hover">
        <thead>
        <tr>
            <th class="uk-width-1-5"></th>
            <th class="uk-width-1-5"></th>
            <th class="uk-width-1-5"></th>
            <th class="uk-width-1-5"></th>
            <th class="uk-width-1-5"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек sdjfhdf sdajfahsdjfas</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa sadfasdfas dsfasd
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>


        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>

        <tr>
            <td class="first-cell uk-table-link">
                <a href="#" class="uk-link-reset">Sunrise</a>
            </td>
            <td>Алыбек Айдарбек</td>
            <td>byalybek@gmail.com</td>
            <td>+996 550 055 577</td>
            <td class="last-cell">Аймончокa
                <i class="zmdi zmdi-more" title="действия" uk-tooltip="pos: right"></i>

                <div uk-dropdown="mode: click">
                    <ul class="uk-nav uk-dropdown-nav">
                        <li><a href="#">Cвязаться с клиентом</a></li>
                        <li><a href="#">Отправить КП</a></li>
                        <li><a href="#">Назначить встречу</a></li>
                        <li><a href="#">Отправить договор</a></li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <div id="offset"></div>
</div>

<div id="modal-box" class="uk-flex-top data-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default close-btn" type="button" uk-close></button>

        <form>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">НОВЫЙ КОНТАКТ</legend>

                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Компания">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="text" placeholder="Контактное лицо">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="E-mail">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="Телефон">
                </div>

                <div class="uk-margin">
                    <input class="uk-input" type="email" placeholder="Адрес">
                </div>

                <div class="uk-margin caret-down">
                    <select class="uk-select">
                        <option disabled selected>Потенциальный клиент</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <div class="uk-margin caret-down manager">
                    <select class="uk-select">
                        <option disabled selected>Выберите менеджера</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <button class="uk-button uk-button-default btn">СОХРАНИТЬ</button>

            </fieldset>
        </form>

    </div>
</div>

//= var/footer.html