//= var/header.html

<div class="tasks-container">
    <form action="#" class="filter-form">
        <fieldset class="uk-fieldset">
            <div class="uk-grid-small" uk-grid>
                <div class="uk-width-1-2@l">
                    <label for="search-text" class="search-input">
                        <input type="text" id="search-text" class="uk-input" placeholder="Поиск">
                        <button class="uk-button uk-button-default">
                            <i class="zmdi zmdi-search"></i>
                        </button>
                    </label>
                </div>

                <div class="uk-width-1-4@l">
                    <input class="uk-input datepicker" type="text" placeholder="Календарь..." data-toggle="datepicker">
                </div>

                <div class="uk-width-1-4@l">
                    <button class="uk-button uk-button-default btn" uk-toggle="target: #modal-box">НОВАЯ ЗАДАЧА &nbsp+</button>
                </div>
            </div>

        </fieldset>
    </form>

    <div class="data-table tasks-table uk-overflow-auto">
        <ul class="uk-list data-list" uk-sticky="bottom: #offset; offset: 120">
            <li class="uk-width-1-5">КОНТАКТ</li>
            <li class="uk-width-1-5">МЕНЕДЖЕР</li>
            <li class="uk-width-1-5">ДЕЙСТВИЕ</li>
            <li class="uk-width-2-5 last-item">
                <p>
                    <span>КОМЕНТАРИЙ</span>
                    <span class="today">на сегодня</span>
                </p>
            </li>
            <li class="uk-width-1-1">
                <hr>
            </li>
        </ul>
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-2-5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
        <div id="offset"></div>
    </div>

    <div class="data-table tasks-table uk-overflow-auto">
        <ul class="uk-list data-list">
            <li class="uk-width-1-5">КОНТАКТ</li>
            <li class="uk-width-1-5">МЕНЕДЖЕР</li>
            <li class="uk-width-1-5">ДЕЙСТВИЕ</li>
            <li class="uk-width-2-5 last-item">
                <p>
                    <span>КОМЕНТАРИЙ</span>
                    <span class="today">на сегодня</span>
                </p>
            </li>
            <li class="uk-width-1-1">
                <hr>
            </li>
        </ul>
        <table class="uk-table">
            <thead>
            <tr>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-1-5"></th>
                <th class="uk-width-2-5"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>

            <tr>
                <td class="uk-table-link">
                    <a href="#" class="uk-link-reset">Михаил Попов</a>
                </td>
                <td>Аймончок</td>
                <td>Связаться с клиентом</td>
                <td class="last-cell">
                    <span>Аймончок нашла номер представителя на сайте</span>
                    <label class="task-checkbox">
                        <input class="uk-checkbox" type="checkbox">
                    </label>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div id="modal-box" class="uk-flex-top task-modal" uk-modal>
    <div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

        <button class="uk-modal-close-default close-btn" type="button" uk-close></button>

        <form>
            <fieldset class="uk-fieldset">

                <legend class="uk-legend">НОВАЯ ЗАДАЧА</legend>

                <div class="uk-margin caret-down calendar">
                    <input class="uk-input" type="text" data-toggle="datepicker">
                </div>

                <div class="uk-margin caret-down deal">
                    <select class="uk-select">
                        <option disabled selected>Контакт, сделка</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <div class="uk-margin caret-down manager">
                    <select class="uk-select">
                        <option disabled selected>Выберите менеджера</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <div class="uk-margin caret-down">
                    <select class="uk-select">
                        <option disabled selected>Выберите действие</option>
                        <option>Option 01</option>
                        <option>Option 02</option>
                    </select>
                </div>

                <div class="uk-margin">
                    <textarea class="uk-textarea" rows="5" placeholder="Коментарий..."></textarea>
                </div>

                <button class="uk-button uk-button-default btn">СОХРАНИТЬ</button>

            </fieldset>
        </form>

    </div>
</div>

//= var/footer.html